.AddTZ {
  padding: var(--size-padding-base);

  &__menu {
    background-color: var(--color-bg);
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    padding: var(--size-padding-base);

    &--open {
      visibility: visible;
    }
  }

  &__menuItem {
    text-align: left;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__menuItemOffset {
    color: var(--color-text-lighter);
  }

  &__list {
    width: 100%;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 8px;
    margin-bottom: 1.5rem;
  }

  &__regionTitle {
    font-size: 1rem;
    color: var(--color-text);
    font-weight: 600;
    padding: 0;
    margin: 0.5rem 0;
  }

  &__input {
    font-size: inherit;
    width: 100%;
    max-width: 25rem;
    margin: 1rem 0;
  }
}
