:root {
  font-family: Inter, Arial, sans-serif;
  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings: 'ss04' on, 'calt' off;
  font-family: Inter;
  line-height: 100%;

  background-color: var(--color-bg);
  color: var(--color-text);

  --color-strip-divider: #e1e1e1;
  --color-bg: #fff;
  --color-bg-dark: #f7f7f7;
  --color-text: #111;
  --color-text-light: #4e4e4e;
  --color-text-lighter: #787878;
  --color-text-lightest: #B4B4B4;
  --color-current: red;

  --size-padding-base: 24px;
  --size-strip-height: 104px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #000;
  }
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

#root {
  width: 100%;
}
