:root {
  font-family: Inter, Arial, sans-serif;
  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings: 'ss04' on, 'calt' off;
  font-family: Inter;
  line-height: 100%;

  background-color: var(--color-bg);
  color: var(--color-text);

  --color-bg: #FDFDFD;
  --color-strip-divider: #E1E1E1;
  --color-bg-dark: #FAFAFA;
  --color-text: #111111;
  --color-text-light: #4E4E4E;
  --color-text-lighter: #787878;
  --color-text-lightest: #B4B4B4;
  --color-current: #FF0000;
  --color-shadow: rgba(0, 0, 0, 0.06);
  --color-bg-behind: hsla(0, 99%, 74%, 0.12);
  --color-bg-ahead: hsla(206, 99%, 74%, 0.12);

  --size-padding-base: 24px;
  --size-strip-height: 104px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #0A0A0A;
    --color-strip-divider: #2F2F2F;
    --color-bg-dark: #252525;
    --color-text: #F5F5F5;
    --color-text-light: #E2E2E2;
    --color-text-lighter: #A9A9A9;
    --color-text-lightest: #707070;
    --color-current: #FF6E6E;
    --color-shadow: rgba(255, 255, 255, 0.12);
  }
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

#root {
  width: 100%;
}

button {
  background: inherit;
  display: block;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-variant-numeric: inherit;
  font-feature-settings: inherit;
  text-decoration: inherit;
}
