.SettingsMenu {
  height: 1em;
  position: relative;

  &__button {
    color: var(--color-text-light);
    cursor: pointer;

    &:hover, &--open {
      color: var(--color-text);
    }
  }

  &__menu {
    position: absolute;
    right: 0;
    z-index: 100;
    display: none;
    width: 35ch;

    background-color: var(--color-bg);

    &--open {
      display: block;
    }

    box-shadow: 0 3px 8px 5px var(--color-shadow);
  }

  &__item {
    padding: 8px;
    border-top: 1px solid var(--color-strip-divider);

    &:first-of-type {
      border-top: none;
    }
  }
}
