.TopBar {
  display: grid;
  grid-template-columns: 1fr min-content;
  padding: 8px 24px;
  font-size: 12px;
  background: var(--color-bg-dark);
  border-bottom: 1px solid var(--color-strip-divider);
}

.TopBar:hover .TopBar__credit {
  opacity: 1;
}

.TopBar__logo {
  display: flex;
  gap: 8px;
  flex-direction: rows;
}

.TopBar__credit {
  color: var(--color-text-lighter);
  font-style: italic;
  text-decoration: none;
  opacity: 0;
  transition: 100ms linear opacity;
}

.TopBar__credit:hover {
  text-decoration: underline;
}


.TopBar__time {
  display: flex;
  flex-direction: row;
  gap: 8px;
  color: var(--color-text-lighter);
}
