.TopBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr min-content;
  padding: 0 24px;
  font-size: 12px;
  background: var(--color-bg-dark);
}

.TopBar__time {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
