.TZStrip {
  height: var(--size-strip-height);
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-columns: 300px 1fr;
  border-bottom: 1px solid var(--color-strip-divider);
  user-select: none;
}

.TZStrip__info {
  background-color: var(--color-bg);
  box-shadow: 4px 0 7px 0 var(--color-shadow);
  padding: 0 var(--size-padding-base);
  z-index: 10;
  display: flex;
  align-items: center;
}


.TZStrip__info:hover .TZStrip__remove {
  opacity: 1;
}

.TZStrip__remove {
  opacity: 0;
  color: var(--color-text-lighter);
  font-size: 13px;
  transition: 150ms linear opacity;
}
.TZStrip__remove:hover {
  color: var(--color-text);
  cursor: pointer;
}


.TZStrip__tzInfoContainer {
  display: flex;
  gap: 0;
  flex-direction: column;
  flex-grow: 1;
}

.TZStrip__tzOffset,
.TZStrip__tzPath {
  font-size: 13px;
  color: var(--color-text-lighter);
}

.TZStrip__tzName {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-text-light);
}

.TZStrip__ruler {
  position: relative;
  cursor: ew-resize;
}

.TZStrip__focusTimeBar,
.TZStrip__currentTimeBar {
  height: var(--size-strip-height);
  position: absolute;
}

.TZStrip__currentTimeBar {
  width: 1px;
  background: var(--color-current);
}

.TZStrip__focusTimeBar {
  width: 2px;
  transition: 250ms linear opacity;
  background: var(--color-text-lighter);
}

.TZStrip__focusTimeText,
.TZStrip__currentTimeText
{
  white-space: nowrap;
  z-index: 1;
  padding-left: 4px;
  font-size: 16px;
  font-weight: 500;
  padding-top: 16px;
  display: inline-block;
}

.TZStrip__currentTimeText {
  color: var(--color-current);
  transition: 100ms linear opacity 10ms;
}

.TZStrip__focusTimeText {
  opacity: 1;
  z-index: 2;
}

.TZStrip__focusTimeBar--hidden {
  opacity: 0;
  visibility: hidden;
}

.TZStrip__currentTimeText--dirty {
  opacity: 0.75;
}

.TZStrip__currentTimeText--hidden {
  opacity: 0;
}

.TZStrip__ruler:hover .TZStrip__focusTimeReset {
  opacity: 1;
}

.TZStrip__focusTimeReset {
  margin-left: 8px;
  display: inline-block;
  opacity: 0;
  color: var(--color-text-lightest);
}

.TZStrip__hourMark {
  background: var(--color-text);
  width: 1px;
  bottom: 0;
  position: absolute;
  height: calc(var(--size-strip-height) * 0.25);
}
.TZStrip__hourMark--withAdditional {
  height: calc(var(--size-strip-height) * 0.5);
  width: 2px;
}

.TZStrip__hourMarkText {
  color: var(--color-text-lighter);
  padding-left: 4px;
  font-size: 13px;
  position: absolute;
  bottom: calc(var(--size-strip-height) / 10)
}

.TZStrip__hourMarkAdditional {
  color: var(--color-text);
  font-size: 13px;
  padding-left: 4px;
  position: absolute;
  top: 0;
  width: 10000px;
}

.TZStrip__hourMarkDivision {
  height: calc(var(--size-strip-height) / 13);
  width: 1px;
  background: var(--color-text-lightest);
  bottom: 0;
  position: absolute;
}
