@use "utils.scss";

.TZStrip {
  height: var(--size-strip-height);
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-columns: 300px 1fr;
  border-bottom: 1px solid var(--color-strip-divider);
  user-select: none;

  @include utils.narrow {
    grid-template-columns: 1fr;
    grid-template-rows: min-content var(--size-strip-height);
    height: auto;
  }
  

  &__info {
    background-color: var(--color-bg);
    box-shadow: 4px 0 7px 0 var(--color-shadow);
    padding: 0 var(--size-padding-base);
    z-index: 10;
    display: flex;
    align-items: center;

    &:hover .TZStrip__remove {
      opacity: 1;
    }
    @include utils.narrow {
      padding: 8px var(--size-padding-base);
      box-shadow: none;
    }
  }

  &__remove {
    opacity: 0;
    color: var(--color-text-lighter);
    font-size: 13px;
    transition: 150ms linear opacity;

    &:hover {
      color: var(--color-text);
      cursor: pointer;
    }

    @include utils.narrow {
      opacity: 1;
    }
  }

  &__tzInfoContainer {
    display: flex;
    gap: 2px;
    flex-direction: column;
    flex-grow: 1;

    @include utils.narrow {
      flex-direction: row;
      gap: 4px;
    }
  }

  &__tzOffset,
  &__tzPath {
    font-size: 13px;
    color: var(--color-text-lighter);

    @include utils.narrow {
      font-size: 15px;
    }
  }

  &__tzName {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-text-light);

    @include utils.narrow {
      font-size: 15px;
    }
  }

  &__ruler {
    position: relative;
    cursor: ew-resize;

    &:hover .TZStrip__focusTimeReset {
      opacity: 1;
    }

  }

  &__currentTimeBar {
    height: var(--size-strip-height);
    position: absolute;
    width: 1px;
    background: var(--color-current);
  }

  &__focusTimeBar {
    height: var(--size-strip-height);
    position: absolute;
    width: 2px;
    transition: 250ms linear opacity;
    background: var(--color-text-lighter);

    &--hidden {
      opacity: 0;
      visibility: hidden;
    }
  }


  &__currentTimeText {
    white-space: nowrap;
    z-index: 1;
    padding-left: 4px;
    font-size: 16px;
    font-weight: 500;
    padding-top: 16px;
    display: inline-block;
    color: var(--color-current);
    transition: 100ms linear opacity 10ms;
    opacity: 1;

    &--dirty {
      opacity: 0.75;
    }

    &--hidden {
      opacity: 0;
    }
  }

  &__focusTimeText {
    white-space: nowrap;
    z-index: 1;
    padding-left: 4px;
    font-size: 16px;
    font-weight: 500;
    padding-top: 16px;
    display: inline-block;
    opacity: 1;
    z-index: 2;
  }

  &__focusTimeReset {
    margin-left: 8px;
    display: inline-block;
    opacity: 0;
    color: var(--color-text-lightest);

    @include utils.narrow {
      opacity: 1;
    }
  }


}
